<div class="bottom-bar">
  <div class="bottom-bar-center color--taupe">
    <a href="/" id="contact-link" data-toggle="contact-overlay">
      Contact
    </a>
  </div>
</div>
<a data-close="contact-overlay" style="opacity: 0;"></a>
<div id="contact-overlay" style="opacity: 0;">
  <div class="info color--taupe width--100pc">
    <h3 class="mt++">Carried on Both Sides</h3>
    <h3 class="mv+">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSdv1xgSyBX6XDJluqbTk3z61-c6nBOgc3EPlbYh0gQ9ayRPEg/viewform?usp=sf_link">
        Sign up for sleep videos
      </a>
    </h3>
    <div class="height--10 width--320 mha bo-t--dotted-lg mh"></div>
    <div class="row align-center align-middle width--100pc">
      <div class="small-12 medium-6 columns max-width--320 pv+">
        <h3 class="mb-">Artists' Talk</h3>
        <p>
        July 28, 2018<br />
        The Met<br />
        1000 5th Ave.<br />
        New York, NY 10028
        </p>
      </div>
      <div class="height--250 width--10 bo-r--dotted-lg mv show-for-medium"></div>
      <div class="height--10 width--320 mha bo-t--dotted-lg show-for-small-only mh"></div>
      <div class="small-12 medium-6 columns max-width--320 pv+">
        <h3 class="mb-">Exhibition</h3>
        <p>
        April 18 — May 20, 2018<br />
        Lesley Heller Gallery<br />
        54 Orchard St.<br />
        New York, NY 10002<br />
        <a href="http://lesleyheller.com">lesleyheller.com</a>
        </p>
      </div>
    </div>
    <div class="height--10 width--320 mha bo-t--dotted-lg mh"></div>
    <p class="max-width--280 mha mv+">
      Email Caroline Woolard, Alexander Rosenberg, Hellen Lee, or Lika Volkova at <a href="mailto:info@carriedonbothsides.com">info@carriedonbothsides.com</a> for more information.
    </p>

  </div>
</div>
