#amphoraOutline {
  display: block !important;

	.st2{fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st3{fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st4{fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st5{fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st6{fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st7{fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  .st8{fill:$dark-black;}
	.st9{fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st3, .st4, .st5, .st6, .st7, .st9 {
	  stroke-dasharray: 1000;
	  stroke-dashoffset: 1000;
	  animation: dash 5s linear forwards;
	}
	.st3, .st5 {
		animation-delay: .5s;
	}
	.st4, .st6 {
		animation-delay: 2.4s;
	}
	.st7 {
		animation-delay: 2.5s;
	}
  .st9 {
    animation-delay: 3s;
  }
  .st8 {
    animation: eye 1s forwards;
    animation-delay: 2.7s;
    fill-opacity: 0;
  }
	.st2 {
	  stroke-dasharray: 1000;
	  stroke-dashoffset: 1000;
	  animation: dash1 3s linear forwards;
	}
  @keyframes eye {
    from {
      fill-opacity: 0;
    }
    to {
      fill-opacity: 1;
    }
  }
	@keyframes dash1 {
	  to {
	    stroke-dashoffset: 0;
	    stroke-dashoffset: 0;
	  }
	}

	@keyframes dash {
	  to {
	    stroke-dashoffset: 0;
	  }
	}
}

#amphoraOutline {
  .stroke--time {
    stroke: $light-gray;
  }
  .fill--time {
    fill: $light-gray;
  }
}
[data-time=night] #amphoraOutline {
  .stroke--time {
    stroke: $dark-black;
  }
  .fill--time {
    fill: $dark-black;
  }
}
