@import "~foundation-sites/assets/foundation";
@include foundation-flex-classes;
@include foundation-flex-grid;
@import "imports/reset";
@import "colors";
@import "utilities";
@import "typography";

@import "amphora-outline";

$barHeight: 80px;
$barPadding: $barHeight/2 - 14px;

.top-bar {
  background: transparent;
  display: flex;
  height: $barHeight;
  justify-content: center;
  padding: $barPadding;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  .top-bar-center {
    display: inline-block;
  }
}
.bottom-bar {
  background: transparent;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: $barPadding;
  position: fixed;
  width: 100%;
  .bottom-bar-center {
    display: inline-block;
  }
}
.bg--time {
  background: white;
  transition: background 5s ease-in-out;
}
[data-time=night] {
  &.bg--time,
  .bg--time {
    background: $soft-black;
  }
}
.home--wrap {
  height: 100vh;
  overflow: hidden;
  background: white;
}
.ampersand-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: $barHeight;
}
.video-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: $barHeight;
}
.video-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  .play-button {
    background-color: $soft-black;
    background-image: url("../img/btn--play.svg");
    background-size: 30px 30px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    opacity: 0;
    position: absolute;
    top: 50%;
    width: 50px;
    z-index: 10;
    &.open {
      opacity: 1;
    }
  }
}
.show--day,
.show--night {
  visibility: hidden;

}
[data-time=night] {
  .show--night {
    visibility: visible;
  }
  .show--day {
    display: none;
    visibility: visible;
  }
}
[data-time=day] {
  .show--day {
    visibility: visible;
  }
  .show--night {
    display: none;
    visibility: visible;
  }
}
#intro {
  align-items: center;
  background-color: white;
  bottom: 0;
  display: flex;
  justify-content: center;
  left:0;
  position: fixed;
  opacity: 0;
  right: 0;
  pointer-events: none;
  top:0;
  transition: opacity 2s ease-in-out;
  z-index: 5;
  &.open {
    opacity: 1;
    pointer-events: all;
  }
}
[data-time=night] #intro {
  background: $soft-black;
}
.animation-wrapper {
  transform: scale(.75);
}
.animation-frame {
  opacity: 0;
  &.in {
    opacity: 1;
  }
}
#amphoraAnimation {
  svg {
    position: absolute;
    left: -2px;
    top: 0;
    max-height: none;
    height: 392px;
    width: 298px;
  }
  .animation-frame {
    &.in {
      transition: opacity 1500ms ease-in;
    }
  }
}
#contact-overlay {
  align-items: center;
  background: inherit;
  flex-direction: column;
  justify-content: center;
  left: 0;
  overflow-y: auto;
  opacity: 0;
  padding: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  bottom: 0;
  transition: opacity 2000ms ease-in-out;
  width: 100vw;
  z-index: 10;
  &.open {
    opacity: 1 !important;
    pointer-events: all;
  }
  .info {
    text-align: center;
  }
}
[data-close] {
  background-image: url("~img/btn--close.svg");
  background-position: center;
  background-size: contain;
  border-bottom: 0px;
  height: 48px;
  right: 18px;
  opacity: 0;
  position: fixed;
  top: 18px;
  transition: opacity 1500ms ease-in-out;
  width: 48px;
  z-index: 15;
  &.open {
    opacity: 1 !important;
  }
  &:hover {
    border-bottom: 0px !important;
    text-decoration: none;
  }
}
@media screen and (max-width: 768px) {
  #contact-overlay {
    display: block;
    .info {
      flex-shrink: 0;
      position: relative;
      margin-bottom: $barHeight;
    }
  }
  .ampersand-wrap .animation-wrapper {
    transform: scale(.45);
  }
  .video-wrap {
    padding-left: 50px;
    padding-right: 50px;
  }
}
